:root {
    --lavender: #8463fb;
    --coolblue: #3396ff;
    --coolyellow: #ffc549;
    --whatsapp_green: #1fe066;
    --whatsapp_teal: #0c8375;
    --teal: #009e9e;
    --pink: #ff3e62;
    --darkgrey: #737373;
    --ligthgrey: #a1a1a1;
    --orange: #ffbb00;
    --blue: #00a2f3;
    --purple: #7700ff;
    --okblack: #313131;
    --nicewhite: #fffdfd;
    --bluedark: #1476e7;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}