:root {
    --lavender: #8463fb;
    --coolblue: #2a91ff;
    --coolyellow: #ffc549;
    --whatsapp_green: #1fe066;
    --whatsapp_teal: #0c8375;
    --teal: #009e9e;
    --pink: #ff3e62;
    --darkgrey: #737373;
    --ligthgrey: #a1a1a1;
    --orange: #ffbb00;
    --blue: #00a2f3;
    --purple: #7700ff;
    --okblack: #222222;
    --bluedark: #1476e7;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.b{
    font-weight: bolder;
}

.underline{
    text-decoration: underline;
}

.redtext{
    color: red;
}

.bluetext{
    color: var(--coolblue);
}

.overline{
    text-decoration: overline;
}

.spinner {
    border-radius: 50%;
    border-top: 15px solid #1476e7;
    border-right: 15px solid green;
    border-bottom: 15px solid red;
    border-left: 15px solid #ffbb00;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.side-bar {
  width: 100px;
  height: 100%;
  background-color: #555;
}

.side-bar .item {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  border: white 2px solid
}

.side-bar .item:hover {
  background-color: #000;
}

.shake:hover {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

.capitalcase{
    text-transform: capitalize;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.bigtext{
    font-size: xx-large;
}

.smalltext{
    font-size: small;
}

.centertext{
    text-align: center;
}

.goodfont{
    font-family: monospace;
}

.codee {
    background-color: #eee;
    border-radius: 3px;
    font-family: monospace;
    padding: 3px;
}

.bottom-text{
    position: absolute;
    margin: 5px;
    bottom: 1px;
    left: 1px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
